<div class="col-lg-2 mall-menu">
    <dl>
        <dt><i class="fa fa-tachometer" aria-hidden="true"></i> 后台面板</dt>
        <dd>
            <ul>
                <li><a href="{:mall_url('index')}"><i class="fa fa-circle-o" aria-hidden="true"></i> 主面板</a></li>
                <li><a href=""><i class="fa fa-circle-o" aria-hidden="true"></i> 数据统计</a></li>
            </ul>
        </dd>
        <dt><i class="fa fa-shopping-bag" aria-hidden="true"></i> 分类管理</dt>
        <dd>
            <ul>
                <li><a href="{:mall_url('category/add')}"><i class="fa fa-circle-o" aria-hidden="true"></i> 添加分类</a></li>
                <li><a href="{:mall_url('category')}"><i class="fa fa-circle-o" aria-hidden="true"></i> 分类列表</a></li>
            </ul>
        </dd>
        <dt><i class="fa fa-shopping-bag" aria-hidden="true"></i> 商品管理</dt>
        <dd>
            <ul>
                <li><a href="{:mall_url('goods/add')}"><i class="fa fa-circle-o" aria-hidden="true"></i> 添加商品</a></li>
                <li><a href="{:mall_url('goods')}"><i class="fa fa-circle-o" aria-hidden="true"></i> 商品列表</a></li>
            </ul>
        </dd>
        <dt><i class="fa fa-bars" aria-hidden="true"></i> 订单管理</dt>
        <dd>
            <ul>
                <li><a href=""><i class="fa fa-circle-o" aria-hidden="true"></i> 订单列表</a></li>
                <li><a href=""><i class="fa fa-circle-o" aria-hidden="true"></i> 售后订单</a></li>
                <li><a href=""><i class="fa fa-circle-o" aria-hidden="true"></i> 订单统计</a></li>
            </ul>
        </dd>
        <dt><i class="fa fa-users" aria-hidden="true"></i> 会员管理</dt>
        <dd>
            <ul>
                <li><a href="{:mall_url('member')}"><i class="fa fa-circle-o" aria-hidden="true"></i> 会员列表</a></li>
                <li><a href=""><i class="fa fa-circle-o" aria-hidden="true"></i> 会员统计</a></li>
            </ul>
        </dd>
        <dt><i class="fa fa-money" aria-hidden="true"></i> 营销活动</dt>
        <dd>
            <ul>
                <li><a href="{:mall_url('coupon')}"><i class="fa fa-circle-o" aria-hidden="true"></i> 优惠券</a></li>
            </ul>
        </dd>
        <dt><i class="fa fa-clone" aria-hidden="true"></i> 其他管理</dt>
        <dd>
            <ul>
                <li><a href="{:mall_url('slider')}"><i class="fa fa-circle-o" aria-hidden="true"></i> 幻灯片</a></li>
                <li><a href="{:mall_url('feedback')}"><i class="fa fa-circle-o" aria-hidden="true"></i> 反馈建议</a></li>
            </ul>
        </dd>
    </dl>
</div>