<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <title>{$title}</title>
    <link rel="stylesheet" href="/addons/assets//wefeemall/static/css/weui.min.css">
    <link rel="stylesheet" href="/addons/assets//wefeemall/static/css/wefee.css">
    {block name="css"}{/block}
</head>
<body>

{include file="../addons/wefeemall/views/index/common/menu.html"}

{block name="body"}{/block}

<script src="/addons/assets//wefeemall//static/js/zepto.min.js"></script>
<script src="/addons/assets//wefeemall//static/js/wefee.js"></script>
{block name="js"}{/block}
</body>
</html>