<div class="top-header">
    <div class="weui-flex pd-5">
        <div class="weui-flex__item text-c">
            <div class="left">
                <a href="javascript:void(0);" class="show-menu"><img src="/addons/assets//wefeemall//static/images/icon/list.png" width="24" height="24"></a>
            </div>
            <a href="{:aurl('wefeemall/index.index')}"><img src="/addons/assets//wefeemall//static/images/logo.png" width="60" height="24"></a>
            <div class="right">
                <a href="{:aurl('wefeemall/index.search')}"><img src="/addons/assets//wefeemall//static/images/icon/search.png" width="24" height="24"></a>
            </div>
        </div>
    </div>
</div>