<div class="menu">
    <div class="weui-flex pd-5">
        <div class="weui-flex__item text-c">
            <a href="{:aurl('wefeemall/index.index')}">
                <p><img src="/addons/assets//wefeemall//static/images/icon/index.png" width="36" height="36"></p>
                <p>首页</p>
            </a>
        </div>
        <div class="weui-flex__item text-c">
            <a href="{:aurl('wefeemall/index.category')}">
                <p><img src="/addons/assets//wefeemall//static/images/icon/category.png" width="36" height="36"></p>
                <p>分类</p>
            </a>
        </div>
        <div class="weui-flex__item text-c">
            <a href="{:aurl('wefeemall/index.mall')}">
                <p><img src="/addons/assets//wefeemall//static/images/icon/mall.png" width="36" height="36"></p>
                <p>购物车 <span class="weui-badge">{mall:mall /}</span></p>
            </a>
        </div>
        <div class="weui-flex__item text-c">
            <a href="{:aurl('wefeemall/index.member')}">
                <p><img src="/addons/assets//wefeemall//static/images/icon/person.png" width="36" height="36"></p>
                <p>个人</p>
            </a>
        </div>
    </div>
</div>