{extend name="../addons/wefeemall/views/index/layout/base.html" /}


{block name="body"}

<div class="weui-flex bg-fff lh-40 pt-5 pb-5 bd-b" style="margin-top: 40px;">
    <div class="weui-flex__item text-c">
        全部
    </div>
    <div class="weui-flex__item text-c">
        未使用
    </div>
    <div class="weui-flex__item text-c">
        已使用
    </div>
    <div class="weui-flex__item text-c">
        已过期
    </div>
</div>

<div class="weui-flex pd-10">
    <div class="weui-flex__item coupon-list-item">
        <h3 class="fs-12">满200减38元</h3>
        <p class="fs-08">2017.03.03-2017.03.08</p>
        <div class="wd-100 mt-20">
            全场通用
        </div>
    </div>
</div>

<div class="weui-flex pd-10">
    <div class="weui-flex__item coupon-list-item-used">
        <h3 class="fs-12">满200减38元</h3>
        <p class="fs-08">2017.03.03-2017.03.08</p>
        <div class="wd-100 mt-20">
            全场通用
        </div>
    </div>
</div>

{/block}