{extend name="../addons/wefeemall/views/index/layout/base.html" /}


{block name="body"}

<div class="weui-flex" style="margin-top: 60px;">
    <div class="weui-flex__item">
        <div class="weui-cells weui-cells_form">
            <form action="{:mall_url('index.service/postFeedback')}" method="post">
                <div class="weui-cell weui-cell_select">
                    <select name="feedback_type" class="weui-select">
                        <option value="商品相关">商品相关</option>
                        <option value="物流相关">物流相关</option>
                        <option value="客户服务">客户服务</option>
                        <option value="优惠活动">优惠活动</option>
                        <option value="产品体验">产品体验</option>
                        <option value="其他">其他</option>
                    </select>
                </div>
                <div class="weui-cell">
                    <textarea class="weui-textarea" name="feedback_content" placeholder="对我们网站、商品、服务，你还有什么建议吗？你还希望在本平台买到什么？请告诉我们..." rows="10"></textarea>
                </div>
                <div class="weui-cell weui-cell_vcode">
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" name="verify_code" placeholder="验证码"/>
                    </div>
                    <div class="weui-cell__ft">
                        <img class="weui-vcode-img verify-code" src="{:aurl('wefeemall/api.captcha', ['time' => time()])}" />
                    </div>
                </div>
                <div class="weui-cell">
                    <button type="submit" class="weui-btn weui-btn_default">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>

{/block}